<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/database.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>BFP- Batac- City</title>
</head>

<body>

    <div class="container">

        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="../images/logo.png">
                    <h2>BFP <span class="danger">Batac-City</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/adminHome" >
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
              
                <a href="/location">
                    <span class="material-icons-sharp">pin_drop</span>
                    <h3>Geographic Data</h3>
                </a>
                
                <a href="/alert">
                    <span class="material-icons-sharp">
                        whatshot
                    </span>
                    <h3>Fire History</h3>
                </a>
                    <a href="/database" class="active">
                        <span class="material-symbols-outlined">
                            database
                        </span>
                        <h3>Database</h3>
                    </a>
                    
                    <a href="/charts">
                    <span class="material-symbols-outlined">
                        history
                    </span>
                    <h3>Data History</h3>
                </a>
                
           
                        
                  <!--  <a href="/user">
                        <span class="material-symbols-outlined">
                            manage_accounts
                        </span>
                        <h3>User</h3>
                    </a>
                -->
                    
                
              
            </div>
        </aside>
        <!-- End of Sidebar Section -->

<!-- Main Content -->
<main>
    <h2 class="table-title">Location Data Summary</h2>
    <div>
        

        <details>
            <summary>Conventional Locations</summary>
            <div class="summary-container">
                <table id="conventionalTable">
                    <div class="search-container">
                        <div class="search-section">
                            <input type="text" id="conventionalSearch" placeholder="Search...">
                            <button onclick="search('conventional')" class="search-button">Search</button>
                        </div>
                        <div class="button-container">
                            <button class="action-button" onclick="exportDataToExcel('conventional')">Export to Excel</button>
                            <button class="action-button" onclick="saveDataToPDF('conventional')">Save to PDF</button>
                            <button class="action-button" onclick="printData('conventional')">Print Data</button>
                        </div>
                    </div>
                    
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data for 'conventional' will be displayed here -->
                    </tbody>
                </table>
                
            </div>
        </details>
        <details>
            <summary>Sprinkler Locations</summary>
            <div class="summary-container">
                <table id="sprinklerTable">
                    <div class="search-container">
                        <div class="search-section">
                            <input type="text" id="sprinklerSearch" placeholder="Search...">
                            <button onclick="search('sprinkler')" class="search-button">Search</button>
                        </div>
                        <div class="button-container">
                            <button class="action-button" onclick="exportDataToExcel('sprinkler')">Export to Excel</button>
                            <button class="action-button" onclick="saveDataToPDF('sprinkler')">Save to PDF</button>
                            <button class="action-button" onclick="printData('sprinkler')">Print Data</button>
                        </div>
                    </div>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data for 'conventional' will be displayed here -->
                    </tbody>
                </table>
               
            </div>
        </details>
        <details>
            <summary>Hydrant Locations</summary>
            <div class="summary-container">
                <table id="hydrantsTable">
                    <div class="search-container">
                        <div class="search-section">
                            <input type="text" id="hydrantsSearch" placeholder="Search...">
                            <button onclick="search('hydrants')" class="search-button">Search</button>
                        </div>
                        <div class="button-container">
                            <button class="action-button" onclick="exportDataToExcel('hydrants')">Export to Excel</button>
                            <button class="action-button" onclick="saveDataToPDF('hydrants')">Save to PDF</button>
                            <button class="action-button" onclick="printData('hydrants')">Print Data</button>
                        </div>
                    </div>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data for 'conventional' will be displayed here -->
                    </tbody>
                </table>
                
            </div>
        </details>
        <details>
            <summary>Extinguisher Locations</summary>
            <div class="summary-container">
                <table id="extinguisherTable">
                    <div class="search-container">
                        <div class="search-section">
                            <input type="text" id="extinguisherSearch" placeholder="Search...">
                            <button onclick="search('extinguisher')" class="search-button">Search</button>
                        </div>
                        <div class="button-container">
                            <button class="action-button" onclick="exportDataToExcel('extinguisher')">Export to Excel</button>
                            <button class="action-button" onclick="saveDataToPDF('extinguisher')">Save to PDF</button>
                            <button class="action-button" onclick="printData('extinguisher')">Print Data</button>
                        </div>
                    </div>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data for 'conventional' will be displayed here -->
                    </tbody>
                </table>
                
            </div>
        </details>
        <details>
            <summary>FDAS Locations</summary>
            <div class="summary-container">
                <table id="fdasTable">
                    <div class="search-container">
                        <div class="search-section">
                            <input type="text" id="fdasSearch" placeholder="Search...">
                            <button onclick="search('fdas')" class="search-button">Search</button>
                        </div>
                        <div class="button-container">
                            <button class="action-button" onclick="exportDataToExcel('fdas')">Export to Excel</button>
                            <button class="action-button" onclick="saveDataToPDF('fdas')">Save to PDF</button>
                            <button class="action-button" onclick="printData('fdas')">Print Data</button>
                        </div>
                    </div>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data for 'conventional' will be displayed here -->
                    </tbody>
                </table>
                
            </div>
        </details>
       

        <script>

            document.addEventListener("DOMContentLoaded", function () {
                const detailsElements = document.querySelectorAll("details");
                detailsElements.forEach((details) => {
                    details.addEventListener("toggle", function () {
                        if (details.open) {
                            // Move the details element to the top
                            details.parentNode.insertBefore(details, details.parentNode.firstChild);
                            // Move other details elements to the bottom
                            const otherDetails = Array.from(details.parentNode.children).filter((child) => child.tagName === "DETAILS" && child !== details);
                            otherDetails.forEach((otherDetail) => {
                                details.parentNode.appendChild(otherDetail);
                            });
                        }
                    });
                });
                
                // Close other open details when a details element is opened
                detailsElements.forEach((details) => {
                    details.addEventListener("click", function () {
                        detailsElements.forEach((otherDetails) => {
                            if (otherDetails !== details && otherDetails.open) {
                                otherDetails.open = false;
                            }
                        });
                    });
                });
            });
            
            function redirectToLocation2() {
                // Redirect to location2.ejs
                window.location.href = "/location2";
            }

            

            // Function to fetch and display data for a specific type
            function fetchAndDisplayData(type) {
                fetch(`https://fuego1.onrender.com/${type}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log(`Retrieved ${type} Data:`, data);
                        displayData(type, data);
                    })
                    .catch(error => {
                        handleFetchError(error, `Failed to load ${type} data from the database.`);
                    });
            }

            // Function to display data in a table
            function displayData(type, data) {
                const table = document.querySelector(`#${type}Table tbody`);
                table.innerHTML = ''; // Clear existing data

                data.forEach(item => {
                    const row = table.insertRow();
                    const titleCell = row.insertCell(0);
                    const latitudeCell = row.insertCell(1);
                    const longitudeCell = row.insertCell(2);

                    titleCell.textContent = item.title || '';
                    latitudeCell.textContent = item.latitude || '';
                    longitudeCell.textContent = item.longitude || '';
                });
            }

            // Fetch and display data for each type
            fetchAndDisplayData('conventional');
            fetchAndDisplayData('sprinkler');
            fetchAndDisplayData('hydrants');
            fetchAndDisplayData('extinguisher');
            fetchAndDisplayData('fdas');




            function search(type) {
                // Get the search input value
                const searchInput = document.getElementById(`${type}Search`).value.toLowerCase();
    
                // Get the table body
                const tableBody = document.querySelector(`#${type}Table tbody`);
    
                // Get all rows in the table
                const rows = tableBody.querySelectorAll('tr');
    
                // Loop through each row
                rows.forEach(row => {
                    // Get the title cell value (assuming it's in the first cell of each row)
                    const title = row.cells[0].textContent.toLowerCase();
    
                    // Check if the title includes the search input value
                    if (title.includes(searchInput)) {
                        // Show the row
                        row.style.display = '';
                    } else {
                        // Hide the row
                        row.style.display = 'none';
                    }
                });
            }



            function exportDataToExcel(type) {
                const table = document.querySelector(`#${type}Table`);
                const visibleRows = Array.from(table.querySelectorAll('tbody tr')).filter(row => row.style.display !== 'none');
                const data = visibleRows.map(row => Array.from(row.querySelectorAll('td')).map(cell => cell.textContent));
                
                // Convert the data to HTML table format
                const tableHtml = `<table>${visibleRows.map(row => row.outerHTML).join('')}</table>`;
                
                const filename = `${type}_Data.xlsx`;
                
                const blob = new Blob([tableHtml], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8' });
                const link = document.createElement('a');
                link.href = URL.createObjectURL(blob);
                link.setAttribute('download', filename);
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
            
            function printData(type) {
                const table = document.querySelector(`#${type}Table`);
                const visibleRows = Array.from(table.querySelectorAll('tbody tr')).filter(row => row.style.display !== 'none');
            
                const printWindow = window.open('', '_blank');
                printWindow.document.write('<html><head><title>Data</title></head><body>');
                printWindow.document.write('<h2>Location Data Summary</h2>');
                printWindow.document.write('<table style="border-collapse: collapse; width: 100%;">');
                
                // Iterate through each visible row of the table body and add them to the print window
                visibleRows.forEach(row => {
                    printWindow.document.write('<tr>');
                    // Iterate through each cell of the row and add them to the print window with border formatting
                    Array.from(row.cells).forEach(cell => {
                        printWindow.document.write(`<td style="border: 1px solid #dddddd; padding: 8px;">${cell.innerHTML}</td>`);
                    });
                    printWindow.document.write('</tr>');
                });
            
                printWindow.document.write('</table>');
                printWindow.document.write('</body></html>');
                printWindow.document.close();
                printWindow.print();
            }
            
            function saveDataToPDF(type) {
                const doc = new jsPDF(); // Create a new instance of jsPDF
                const table = document.querySelector(`#${type}Table`);
                const visibleRows = Array.from(table.querySelectorAll('tbody tr')).filter(row => row.style.display !== 'none');
            
                // Add a new page for the data
                doc.addPage();
                doc.text(`${type} Data`, 10, 10);
                
                // Convert the visible rows of the table to PDF using the autoTable plugin
                doc.autoTable({ html: table });
            
                // Save the PDF
                doc.save(`${type}_data.pdf`);
            }
            
            
            
        
        </script>

    </div>
</main>
<!-- End of Main Content -->


        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>
                <div class="profile">
                    <div class="dropdown">
                        <div class="profile-photo-container">
                            <div class="profile-photo">
                                <% if (admin1.profilePicture) { %>
                                    <img src="<%= admin1.profilePicture.replace(/\\/g, '/') %>" alt="Profile Picture">
                                <% } else { %>
                                    <!-- Placeholder image or default image when no profile picture exists -->
                                    <img src="/images/profile-icon.jpg" width="40" class="rounded-circle">
                                <% } %>
                                
                            </div>
                            <div class="arrow-circle">
                                <!-- Arrow icon -->
                                <i class="material-icons arrow-down">keyboard_arrow_down</i>
                            </div>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu">
                            <!-- Dropdown menu items -->
                            <a href="/user">Profile</a>
                            <a href="/AboutUs">AboutUs</a>
                            <a href="/userList">Admin Panel</a>
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- End of Nav -->

          


            <div class="data-summary-map-button">
                <button onclick="redirectToLocation2()">
                    <span class="material-icons">pin_drop</span>
                    <span class="button-text">Data Summary Map</span>
                </button>
            </div>
        </div>
    </div>
    <script src="../js/control.js"></script>
</body>

</html>
