@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
  
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 18rem;
}

aside{
    height: 100vh;
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .toggle .logo{
    display: flex;
    gap: 0.5rem;
}

aside .toggle .logo img{
    width: 2rem;
    height: 2rem;
}

aside .toggle .close{
    padding-right: 1rem;
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar:hover{
    box-shadow: none;
}

aside .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child{
   
    width: 100%;
}

aside .sidebar a.active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 0.6rem;
}

aside .sidebar .message-count{
    background-color: var(--color-danger);
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

main{
    margin-top: 1.4rem;
}

main .analyse{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.analyse {
    display: flex; /* Display children elements in a row by default */
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    justify-content: space-between; /* Distribute items evenly along the main axis */
}

.sensor-data {
    width: calc(50% - 20px); /* 50% width for each circle with 20px margin */
    margin: 10px;
    box-sizing: border-box;
}


main .analyse > div{
    background-color: var(--color-white);
    padding: 3rem;
    border-radius: var(--card-border-radius);
   
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 50px;
}

main .analyse > div:hover{
    box-shadow: none;
}

main .analyse > div .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .analyse h3{
    margin-left: 0.6rem;
    font-size: 1rem;
}

main .analyse .sensor-data{
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

main .analyse svg{
    width: 10rem;
    height: 10rem;
}

main .analyse svg circle{
    fill: none;
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

main .analyse .fire svg circle{
    stroke: var(--color-success);
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
    animation: blink 2s infinite;
}

main .analyse .smoke svg circle {
    stroke: var(--color-danger);
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
    animation: blink 2s infinite; /* Adjust the duration as needed */
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

main .analyse .sensor-data .percentage{
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}



.main .analyse .fire .sensor-data .color-danger {
    stroke: var(--color-danger);
}

.main .analyse .fire .sensor-data .color-success {
    stroke: var(--color-success);
}

.main .analyse .smoke .sensor-data .color-danger {
    stroke: var(--color-danger);
}

.main .analyse .smoke .sensor-data .color-success {
    stroke: var(--color-success);
}

.right-section{
    margin-top: 1.4rem;
}

.right-section .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right-section .nav button{
    display: none;
}

.right-section .dark-mode{
    background-color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-2);
    position: relative;
    width: 3rem;
    height: 1.5rem;
    cursor: pointer;
}

.right-section .dark-mode::before{
    content: '';
    position: absolute;
    background-color: var(--color-primary);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.right-section .dark-mode.active::before{
    transform: translateX(1.5rem);
    background-color: var(--color-white);
}

.right-section .notification{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-2);
    position: relative;
}

.right-section .notification .notification-count{
    background-color: var(--color-danger);
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 11px;
    border-radius: var(--border-radius-1);
    position: absolute;
    top: -3px;
    right: -2px;
}

.right-section .profile img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

@media screen and (max-width: 768px){
    .container{
        grid-template-columns: 5rem auto;
    }

    aside{
        z-index: 1000;
    }

    aside .toggle .close{
        display: block;
        cursor: pointer;
    }

    aside .sidebar{
        position: absolute;
        left: -100%;
    }

    aside .sidebar.show{
        width: 14rem;
        position: absolute;
        left: 0;
    }

    aside .sidebar a span{
        font-size: 1rem;
    }

    aside .sidebar a{
        gap: 0.3rem;
    }

    main .analyse{
        grid-template-columns: 1fr;
    }

    .right-section .nav button{
        display: block;
        cursor: pointer;
    }
}
